body,
html {
  margin: 0;
  padding: 0;
  height: 100% !important;
}

input:focus + label {
  color:#C6264D!important;
}

input:focus {
  border-bottom: 1px solid #C6264D!important;
  box-shadow: 0 1px 0 0 #C6264D!important;
}
/* label color */
.input-field label {
  color: rgb(155, 155, 155);
}

.material-icons.active {
  color: #C6264D!important;
}

.parallax img {
  max-width: 100%;
  height: auto;
}

.mainHelloDiv {
  padding-left: 100px;
  padding-top: 200px;
  color: white;
  font-size: 2rem;
}
::-webkit-scrollbar :horizontal {
  display: none;
}

@media screen and (max-width: 600px) {
  .collection {
    height: auto;
  }

  ;
}

@media screen and (min-width: 601px) {
  .collection {
    height: 72vh;
  }

  ;
}