body, html {
  margin: 0;
  padding: 0;
  height: 100% !important;
}

input.yellow-input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)!important;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5)!important;
}

input.yellow-input + label {
  color: black!important;
}

input.yellow-input:focus + label {
  color:#ffd600!important;
}

input:focus {
  border-bottom: 1px solid #ffd600!important;
  box-shadow: 0 1px 0 0#ffd600!important;
}

::-webkit-scrollbar :horizontal {
  display: none;
}

@media screen and (max-width: 600px) {
  .collection {
    height: auto;
  };
}

@media screen and (min-width: 601px) {
  .collection {
    height: 72vh;
  };
}