body,
html {
  margin: 0;
  padding: 0;
  height: 100% !important;
}

input:focus+label {
  color: #c62828 !important;
}

input:focus {
  border-bottom: 1px solid #c62828  !important;
  box-shadow: 0 1px 0 0 #c62828  !important;
}

/* label color */
.input-field label {
  color: rgb(155, 155, 155);
}

.material-icons.active {
  color: #c62828  !important;
}

.parallax img {
  max-width: 100%;
  height: auto;
}

.mainHelloDiv {
  padding-left: 100px;
  padding-top: 250px;
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px #000000;
}

.main-text {
  font-size: 1.1rem;
}

::-webkit-scrollbar :horizontal {
  display: none;
}

@media screen and (max-width: 600px) {
  .collection {
    height: auto;
  }

  ;
}

@media screen and (min-width: 601px) {
  .collection {
    height: 72vh;
  }

  ;
}